* {
    box-sizing: border-box;
}

body {
    padding: 0;
    background-image: url(../image/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100px;
    background-size: cover;
    position: relative;
    overflow-y: hidden;
}

.search-box {
    background-color: bisque;
    display: flex;
    margin: auto;
    height: 25px;
    width: 100%;
    /* border-radius: px; */
    /* border: 10px solid aquamarine; */
}

.search-song {
    display: flex;
}